:root{
  --background: white;
  --text-primary: black;
  --text-highlight: #FD5E00;
  --primary: #FD5E00;
  --secondary: #2B3A55;
  --url: var(--primary);
}
body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
